n8n/_all_workflows.json
[{"updatedAt":"2026-04-14T12:24:38.000Z","createdAt":"2026-04-14T11:47:06.166Z","id":"inV107Kj62llNdFO","name":"Local RAG Ingest V2","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"manual-trigger","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"fileSelector":"/data/sample_companies.csv"},"id":"read-file","name":"Read CSV","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[200,0]},{"parameters":{"options":{"headerRow":true}},"id":"extract-file","name":"Spreadsheet File","type":"n8n-nodes-base.spreadsheetFile","typeVersion":2,"position":[400,0]},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const row = item.json;\n  return {\n    json: {\n      pageContent: `BIN: ${row['БИН'] || ''}\\nName: ${row['Название'] || ''}\\nCity: ${row['Город'] || ''}\\nActivity: ${row['Вид деятельности'] || ''}\\nStatus: ${row['Статус'] || ''}\\nRegistration date: ${row['Дата регистрации'] || ''}`,\n      metadata: {\n        bin: row['БИН'] || '',\n        name: row['Название'] || '',\n        city: row['Город'] || '',\n        activity: row['Вид деятельности'] || '',\n        status: row['Статус'] || '',\n        registration_date: row['Дата регистрации'] || ''\n      }\n    }\n  };\n});"},"id":"code","name":"Format Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[600,0]},{"parameters":{"dataType":"string","value":"={{ $json.pageContent }}","metadata":"={{ $json.metadata }}"},"id":"default-data-loader","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[600,200]},{"parameters":{"mode":"insert","collectionId":"kz_companies","options":{}},"id":"qdrant","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[800,0]},{"parameters":{"modelName":"bge-m3"},"id":"ollama-embeddings","name":"Ollama Embeddings","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[800,200]}],"connections":{"Manual Trigger":{"main":[[{"node":"Read CSV","type":"main","index":0}]]},"Read CSV":{"main":[[{"node":"Spreadsheet File","type":"main","index":0}]]},"Spreadsheet File":{"main":[[{"node":"Format Payload","type":"main","index":0}]]},"Format Payload":{"main":[[{"node":"Default Data Loader","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Ollama Embeddings":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":null,"versionId":"fd4293b2-0bef-4fea-9c48-5db11bf7f55c","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-14T11:47:06.168Z","createdAt":"2026-04-14T11:47:06.168Z","role":"workflow:owner","workflowId":"inV107Kj62llNdFO","projectId":"QIhKzmruH08LVbsX","project":{"updatedAt":"2026-04-14T11:48:41.692Z","createdAt":"2026-04-14T09:08:32.422Z","id":"QIhKzmruH08LVbsX","name":"Рамис Назаров <nazarov.ramis66@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"6b44d551-c1e8-4d95-a141-3c33877749ea"}}]},{"updatedAt":"2026-04-14T18:05:16.000Z","createdAt":"2026-04-14T11:47:07.112Z","id":"XBakKDTw1vG3xzMc","name":"Local RAG Query V2","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"rag-query","responseMode":"lastNode","options":{}},"id":"webhook","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[0,0]},{"parameters":{},"id":"qa-chain","name":"Question Answering Chain","type":"@n8n/n8n-nodes-langchain.chainRetrievalQa","typeVersion":1,"position":[200,0]},{"parameters":{"model":"qwen3.5:4b","options":{"temperature":0.2}},"id":"ollama-model","name":"Ollama Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[200,200]},{"parameters":{"mode":"retrieve","collectionId":"kz_companies","options":{"topK":5}},"id":"qdrant-retriever","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[400,200]},{"parameters":{"modelName":"bge-m3"},"id":"ollama-embeddings-2","name":"Ollama Embeddings","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[400,400]}],"connections":{"Webhook":{"main":[[{"node":"Question Answering Chain","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"Question Answering Chain","type":"ai_languageModel","index":0}]]},"Qdrant Vector Store":{"ai_retriever":[[{"node":"Question Answering Chain","type":"ai_retriever","index":0}]]},"Ollama Embeddings":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":null,"versionId":"65db4fab-29a3-43d8-940d-df2d2a11fe04","activeVersionId":null,"versionCounter":8,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-14T11:47:07.113Z","createdAt":"2026-04-14T11:47:07.113Z","role":"workflow:owner","workflowId":"XBakKDTw1vG3xzMc","projectId":"QIhKzmruH08LVbsX","project":{"updatedAt":"2026-04-14T11:48:41.692Z","createdAt":"2026-04-14T09:08:32.422Z","id":"QIhKzmruH08LVbsX","name":"Рамис Назаров <nazarov.ramis66@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"6b44d551-c1e8-4d95-a141-3c33877749ea"}}]},{"updatedAt":"2026-04-14T18:05:10.000Z","createdAt":"2026-04-14T11:48:33.128Z","id":"nQjnLUKAEuy82DSP","name":"Local RAG Query V2","description":null,"active":true,"isArchived":true,"nodes":[{"parameters":{"options":{}},"id":"chat-trigger","name":"On chat message","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1,"position":[0,0],"webhookId":"62eb0006-34f6-4d09-987e-edf71ca0b255"},{"parameters":{"query":"={{ $json.chatInput }}","options":{"systemPromptTemplate":"Ты — ассистент для поиска по базе юридических лиц Казахстана.\n\nОтвечай только на основе переданного контекста.\nНе используй внешние знания и не придумывай информацию.\nЕсли данных в контексте недостаточно, ответь: \"Недостаточно данных в найденных записях\".\nЕсли найдено несколько подходящих компаний, перечисли их списком.\nОтвечай кратко, точно и по делу.\n\nКонтекст:\n{context}\n\nВопрос пользователя:\n{input}"}},"id":"qa-chain","name":"Question Answering Chain","type":"@n8n/n8n-nodes-langchain.chainRetrievalQa","typeVersion":1,"position":[208,0]},{"parameters":{"model":"qwen3.5:4b","options":{"temperature":0.2}},"id":"ollama-model","name":"Ollama Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[96,192],"credentials":{"ollamaApi":{"id":"UzaVRkhjopgk8Rvh","name":"Ollama account"}}},{"parameters":{"qdrantCollection":{"__rl":true,"value":"kz_companies","mode":"list","cachedResultName":"kz_companies"},"options":{"contentPayloadKey":"pageContent","metadataPayloadKey":"metadata"}},"id":"qdrant-retriever","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[240,336],"credentials":{"qdrantApi":{"id":"pAgsxavxE7SUpUsV","name":"QdrantApi account"}}},{"parameters":{"model":"bge-m3:latest"},"id":"ollama-embeddings-2","name":"Ollama Embeddings","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[112,512],"credentials":{"ollamaApi":{"id":"UzaVRkhjopgk8Rvh","name":"Ollama account"}}},{"parameters":{"topK":5},"type":"@n8n/n8n-nodes-langchain.retrieverVectorStore","typeVersion":1,"position":[240,176],"id":"28958f3c-d83e-4f14-9c9e-f5cedb0ce86f","name":"Vector Store Retriever"}],"connections":{"On chat message":{"main":[[{"node":"Question Answering Chain","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"Question Answering Chain","type":"ai_languageModel","index":0}]]},"Qdrant Vector Store":{"ai_retriever":[[]],"ai_vectorStore":[[{"node":"Vector Store Retriever","type":"ai_vectorStore","index":0}]]},"Ollama Embeddings":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Vector Store Retriever":{"ai_retriever":[[{"node":"Question Answering Chain","type":"ai_retriever","index":0}]]},"Question Answering Chain":{"main":[[]]}},"settings":{},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"730630f9-dd55-49b2-ac29-7146955a9140","activeVersionId":"730630f9-dd55-49b2-ac29-7146955a9140","versionCounter":24,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-04-14T11:48:33.130Z","createdAt":"2026-04-14T11:48:33.130Z","role":"workflow:owner","workflowId":"nQjnLUKAEuy82DSP","projectId":"QIhKzmruH08LVbsX","project":{"updatedAt":"2026-04-14T11:48:41.692Z","createdAt":"2026-04-14T09:08:32.422Z","id":"QIhKzmruH08LVbsX","name":"Рамис Назаров <nazarov.ramis66@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"6b44d551-c1e8-4d95-a141-3c33877749ea"}}]},{"updatedAt":"2026-04-14T12:30:18.000Z","createdAt":"2026-04-14T12:22:53.765Z","id":"5u6pwMBAVm0p4ddt","name":"Local RAG Ingest V2","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"manual-trigger","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"fileSelector":"/home/node/.n8n-files/sample_companies.csv"},"id":"read-file","name":"Read CSV","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[200,0]},{"parameters":{"options":{"headerRow":true}},"id":"extract-file","name":"Spreadsheet File","type":"n8n-nodes-base.spreadsheetFile","typeVersion":2,"position":[400,0]},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const row = item.json;\n  return {\n    json: {\n      pageContent: `BIN: ${row['БИН'] || ''}\\nName: ${row['Название'] || ''}\\nCity: ${row['Город'] || ''}\\nActivity: ${row['Вид деятельности'] || ''}\\nStatus: ${row['Статус'] || ''}\\nRegistration date: ${row['Дата регистрации'] || ''}`,\n      metadata: {\n        bin: row['БИН'] || '',\n        name: row['Название'] || '',\n        city: row['Город'] || '',\n        activity: row['Вид деятельности'] || '',\n        status: row['Статус'] || '',\n        registration_date: row['Дата регистрации'] || ''\n      }\n    }\n  };\n});"},"id":"code","name":"Format Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[600,0]},{"parameters":{"dataType":"json","jsonMode":"loadSpecificData","jsonData":"={{ $json.pageContent }}","options":{"metadata":{"metadataValues":[{"name":"metadata","value":"={{ $json.metadata }}"}]}}},"id":"default-data-loader","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[600,200]},{"parameters":{"mode":"insert","collectionId":"kz_companies","options":{}},"id":"qdrant","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[800,0]},{"parameters":{"modelName":"bge-m3"},"id":"ollama-embeddings","name":"Ollama Embeddings","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[800,200]}],"connections":{"Manual Trigger":{"main":[[{"node":"Read CSV","type":"main","index":0}]]},"Read CSV":{"main":[[{"node":"Spreadsheet File","type":"main","index":0}]]},"Spreadsheet File":{"main":[[{"node":"Format Payload","type":"main","index":0}]]},"Format Payload":{"main":[[{"node":"Default Data Loader","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Ollama Embeddings":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":null,"versionId":"dc7b2c79-bcd5-4ea9-9612-efda7d8e1956","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-14T12:22:53.767Z","createdAt":"2026-04-14T12:22:53.767Z","role":"workflow:owner","workflowId":"5u6pwMBAVm0p4ddt","projectId":"QIhKzmruH08LVbsX","project":{"updatedAt":"2026-04-14T11:48:41.692Z","createdAt":"2026-04-14T09:08:32.422Z","id":"QIhKzmruH08LVbsX","name":"Рамис Назаров <nazarov.ramis66@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"6b44d551-c1e8-4d95-a141-3c33877749ea"}}]},{"updatedAt":"2026-04-14T12:49:54.000Z","createdAt":"2026-04-14T12:29:04.963Z","id":"4OnL7kOfxmDihJMv","name":"Local RAG Ingest V2","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"manual-trigger","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"fileSelector":"/home/node/.n8n-files/sample_companies.csv"},"id":"read-file","name":"Read CSV","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[200,0]},{"parameters":{"options":{"headerRow":true}},"id":"extract-file","name":"Spreadsheet File","type":"n8n-nodes-base.spreadsheetFile","typeVersion":2,"position":[400,0]},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const row = item.json;\n  return {\n    json: {\n      pageContent: `BIN: ${row['БИН'] || ''}\\nName: ${row['Название'] || ''}\\nCity: ${row['Город'] || ''}\\nActivity: ${row['Вид деятельности'] || ''}\\nStatus: ${row['Статус'] || ''}\\nRegistration date: ${row['Дата регистрации'] || ''}`,\n      metadata: {\n        bin: row['БИН'] || '',\n        name: row['Название'] || '',\n        city: row['Город'] || '',\n        activity: row['Вид деятельности'] || '',\n        status: row['Статус'] || '',\n        registration_date: row['Дата регистрации'] || ''\n      }\n    }\n  };\n});"},"id":"code","name":"Format Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[600,0]},{"parameters":{"mode":"insert","collectionId":"kz_companies","options":{}},"id":"qdrant","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[800,0]},{"parameters":{"modelName":"bge-m3"},"id":"ollama-embeddings","name":"Ollama Embeddings","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[800,200]}],"connections":{"Manual Trigger":{"main":[[{"node":"Read CSV","type":"main","index":0}]]},"Read CSV":{"main":[[{"node":"Spreadsheet File","type":"main","index":0}]]},"Spreadsheet File":{"main":[[{"node":"Format Payload","type":"main","index":0}]]},"Format Payload":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"Ollama Embeddings":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":null,"versionId":"74f1108f-faaf-483c-837e-743d8fe7ede5","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-14T12:29:04.965Z","createdAt":"2026-04-14T12:29:04.965Z","role":"workflow:owner","workflowId":"4OnL7kOfxmDihJMv","projectId":"QIhKzmruH08LVbsX","project":{"updatedAt":"2026-04-14T11:48:41.692Z","createdAt":"2026-04-14T09:08:32.422Z","id":"QIhKzmruH08LVbsX","name":"Рамис Назаров <nazarov.ramis66@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"6b44d551-c1e8-4d95-a141-3c33877749ea"}}]},{"updatedAt":"2026-04-14T12:49:56.000Z","createdAt":"2026-04-14T12:36:00.045Z","id":"rtFOL35FxGEytmfE","name":"Local RAG Ingest V2","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"manual-trigger","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"fileSelector":"/home/node/.n8n-files/sample_companies.csv"},"id":"read-file","name":"Read CSV","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[200,0]},{"parameters":{"options":{"headerRow":true}},"id":"extract-file","name":"Spreadsheet File","type":"n8n-nodes-base.spreadsheetFile","typeVersion":2,"position":[400,0]},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const row = item.json;\n  return {\n    json: {\n      pageContent: `BIN: ${row['БИН'] || ''}\\nName: ${row['Название'] || ''}\\nCity: ${row['Город'] || ''}\\nActivity: ${row['Вид деятельности'] || ''}\\nStatus: ${row['Статус'] || ''}\\nRegistration date: ${row['Дата регистрации'] || ''}`,\n      metadata: {\n        bin: row['БИН'] || '',\n        name: row['Название'] || '',\n        city: row['Город'] || '',\n        activity: row['Вид деятельности'] || '',\n        status: row['Статус'] || '',\n        registration_date: row['Дата регистрации'] || ''\n      }\n    }\n  };\n});"},"id":"code","name":"Format Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[600,0]},{"parameters":{"dataType":"json","jsonMode":"loadSpecificData","jsonData":"={{ $json.pageContent }}","options":{"metadata":{"metadataValues":[{"name":"metadata","value":"={{ JSON.stringify($json.metadata) }}"}]}}},"id":"default-data-loader","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[600,200]},{"parameters":{"mode":"insert","collectionId":"kz_companies","options":{}},"id":"qdrant","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[800,0]},{"parameters":{"modelName":"bge-m3"},"id":"ollama-embeddings","name":"Ollama Embeddings","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[800,200]}],"connections":{"Manual Trigger":{"main":[[{"node":"Read CSV","type":"main","index":0}]]},"Read CSV":{"main":[[{"node":"Spreadsheet File","type":"main","index":0}]]},"Spreadsheet File":{"main":[[{"node":"Format Payload","type":"main","index":0}]]},"Format Payload":{"main":[[{"node":"Default Data Loader","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Ollama Embeddings":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":null,"versionId":"bf8990a9-e853-47e1-b822-0061e07188a8","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-14T12:36:00.046Z","createdAt":"2026-04-14T12:36:00.046Z","role":"workflow:owner","workflowId":"rtFOL35FxGEytmfE","projectId":"QIhKzmruH08LVbsX","project":{"updatedAt":"2026-04-14T11:48:41.692Z","createdAt":"2026-04-14T09:08:32.422Z","id":"QIhKzmruH08LVbsX","name":"Рамис Назаров <nazarov.ramis66@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"6b44d551-c1e8-4d95-a141-3c33877749ea"}}]},{"updatedAt":"2026-04-14T16:33:40.000Z","createdAt":"2026-04-14T12:45:56.682Z","id":"OCjPWSqEb3Qbw8W8","name":"Local RAG Ingest V2","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"manual-trigger","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"fileSelector":"/home/node/.n8n-files/sample_companies.csv","options":{}},"id":"read-file","name":"Read CSV","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[208,0]},{"parameters":{"options":{"headerRow":true}},"id":"extract-file","name":"Spreadsheet File","type":"n8n-nodes-base.spreadsheetFile","typeVersion":2,"position":[400,0]},{"parameters":{"jsCode":"return $input.all().map(item => {\n  const row = item.json;\n\n  return {\n    json: {\n      pageContent: [\n        `БИН: ${row['БИН'] || ''}`,\n        `Название: ${row['Название'] || ''}`,\n        `Город: ${row['Город'] || ''}`,\n        `Вид деятельности: ${row['Вид деятельности'] || ''}`,\n        `Статус: ${row['Статус'] || ''}`,\n        `Дата регистрации: ${row['Дата регистрации'] || ''}`,\n      ].join('\\n'),\n\n      metadata: {\n        bin: row['БИН'] || '',\n        name: row['Название'] || '',\n        city: row['Город'] || '',\n        activity: row['Вид деятельности'] || '',\n        status: row['Статус'] || '',\n        registration_date: row['Дата регистрации'] || '',\n      },\n    },\n  };\n});"},"id":"code","name":"Format Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[608,0]},{"parameters":{"model":"bge-m3:latest"},"id":"ollama-embeddings","name":"Ollama Embeddings","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[720,208],"credentials":{"ollamaApi":{"id":"UzaVRkhjopgk8Rvh","name":"Ollama account"}}},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"kz_companies","mode":"list","cachedResultName":"kz_companies"},"options":{"contentPayloadKey":"pageContent","metadataPayloadKey":"metadata"}},"id":"qdrant","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[832,0],"credentials":{"qdrantApi":{"id":"pAgsxavxE7SUpUsV","name":"QdrantApi account"}}},{"parameters":{"options":{"metadata":{"metadataValues":[{"name":"metadata","value":"={{ $json.metadata }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[976,208],"id":"7e00ac15-274a-4015-af65-618ae1965b84","name":"Default Data Loader"}],"connections":{"Manual Trigger":{"main":[[{"node":"Read CSV","type":"main","index":0}]]},"Read CSV":{"main":[[{"node":"Spreadsheet File","type":"main","index":0}]]},"Spreadsheet File":{"main":[[{"node":"Format Payload","type":"main","index":0}]]},"Format Payload":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"Ollama Embeddings":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bbcedadf-68bb-42a2-b522-658a9b04889c","activeVersionId":null,"versionCounter":28,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-14T12:45:56.684Z","createdAt":"2026-04-14T12:45:56.684Z","role":"workflow:owner","workflowId":"OCjPWSqEb3Qbw8W8","projectId":"QIhKzmruH08LVbsX","project":{"updatedAt":"2026-04-14T11:48:41.692Z","createdAt":"2026-04-14T09:08:32.422Z","id":"QIhKzmruH08LVbsX","name":"Рамис Назаров <nazarov.ramis66@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"6b44d551-c1e8-4d95-a141-3c33877749ea"}}]},{"updatedAt":"2026-04-14T17:55:47.000Z","createdAt":"2026-04-14T16:34:23.007Z","id":"HOsqwwANMPiWazH3","name":"Local RAG Ingest V2","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"manual-trigger","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"fileSelector":"/home/node/.n8n-files/sample_companies.csv","options":{}},"id":"read-file","name":"Read CSV","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[208,0]},{"parameters":{"options":{"headerRow":true}},"id":"extract-file","name":"Spreadsheet File","type":"n8n-nodes-base.spreadsheetFile","typeVersion":2,"position":[400,0]},{"parameters":{"jsCode":"return $input.all().map((item) => {\n  const row = item.json;\n  const bin = String(row['БИН'] ?? '').trim();\n  const name = String(row['Название'] ?? '').trim();\n  const city = String(row['Город'] ?? '').trim();\n  const activity = String(row['Вид деятельности'] ?? '').trim();\n  const status = String(row['Статус'] ?? '').trim();\n  const registrationDate = String(row['Дата регистрации'] ?? '').trim();\n\n  return {\n    json: {\n      pageContent: `БИН: ${bin}\\nНазвание: ${name}\\nГород: ${city}\\nВид деятельности: ${activity}\\nСтатус: ${status}\\nДата регистрации: ${registrationDate}`,\n      bin,\n      name,\n      city,\n      activity,\n      status,\n      registration_date: registrationDate\n    }\n  };\n});"},"id":"code","name":"Format Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[608,0]},{"parameters":{"mode":"insert","qdrantCollection":{"mode":"list","value":"kz_companies"},"options":{"contentPayloadKey":"pageContent","metadataPayloadKey":"metadata"}},"id":"qdrant","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[1008,0],"credentials":{"qdrantApi":{"id":"pAgsxavxE7SUpUsV","name":"QdrantApi account"}}},{"parameters":{"model":"bge-m3:latest"},"id":"ollama-embeddings","name":"Ollama Embeddings","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[1008,224],"credentials":{"ollamaApi":{"id":"UzaVRkhjopgk8Rvh","name":"Ollama account"}}},{"parameters":{"options":{"metadata":{"metadataValues":[{"name":"bin","value":"={{ $json.bin }}"},{"name":"name","value":"={{ $json.name }}"},{"name":"city","value":"={{ $json.city }}"},{"name":"activity","value":"={{ $json.activity }}"},{"name":"status","value":"={{ $json.status }}"},{"name":"registration_date","value":"={{ $json.registration_date }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[1184,224],"id":"7e6d0bd7-e99d-4012-ac41-77b2f9f2bf3b","name":"Default Data Loader1"}],"connections":{"Manual Trigger":{"main":[[{"node":"Read CSV","type":"main","index":0}]]},"Read CSV":{"main":[[{"node":"Spreadsheet File","type":"main","index":0}]]},"Spreadsheet File":{"main":[[{"node":"Format Payload","type":"main","index":0}]]},"Format Payload":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0}]]},"Ollama Embeddings":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Default Data Loader1":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a1415201-0cc1-42ec-b02c-bee1ebd258f8","activeVersionId":null,"versionCounter":8,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-14T16:34:23.008Z","createdAt":"2026-04-14T16:34:23.008Z","role":"workflow:owner","workflowId":"HOsqwwANMPiWazH3","projectId":"QIhKzmruH08LVbsX","project":{"updatedAt":"2026-04-14T11:48:41.692Z","createdAt":"2026-04-14T09:08:32.422Z","id":"QIhKzmruH08LVbsX","name":"Рамис Назаров <nazarov.ramis66@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"6b44d551-c1e8-4d95-a141-3c33877749ea"}}]},{"updatedAt":"2026-04-14T17:55:52.000Z","createdAt":"2026-04-14T16:34:23.020Z","id":"lcSVfFtbdpTzcEh9","name":"Local RAG Query V2","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemPromptTemplate":"Ты помощник по поиску по базе юридических лиц Казахстана. Отвечай только на основе найденного контекста. Если в контексте нет точного ответа, прямо скажи, что данных недостаточно. Когда уместно, указывай БИН, название компании, город, статус и вид деятельности.\n----------------\nКонтекст: {context}"}},"id":"qa-chain","name":"Question Answering Chain","type":"@n8n/n8n-nodes-langchain.chainRetrievalQa","typeVersion":1.7,"position":[240,0]},{"parameters":{"model":"qwen3.5:4b","options":{"temperature":0.2}},"id":"ollama-model","name":"Ollama Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[240,224],"credentials":{"ollamaApi":{"id":"UzaVRkhjopgk8Rvh","name":"Ollama account"}}},{"parameters":{"qdrantCollection":{"mode":"list","value":"kz_companies"},"options":{"contentPayloadKey":"pageContent","metadataPayloadKey":"metadata"}},"id":"qdrant-retriever","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[416,224],"credentials":{"qdrantApi":{"id":"pAgsxavxE7SUpUsV","name":"QdrantApi account"}}},{"parameters":{"topK":5},"id":"vector-store-retriever","name":"Vector Store Retriever","type":"@n8n/n8n-nodes-langchain.retrieverVectorStore","typeVersion":1,"position":[720,224]},{"parameters":{"model":"bge-m3:latest"},"id":"ollama-embeddings-2","name":"Ollama Embeddings","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[480,432],"credentials":{"ollamaApi":{"id":"UzaVRkhjopgk8Rvh","name":"Ollama account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[0,0],"id":"dfcc1c8d-4684-4582-815b-9a9605d4c83c","name":"When chat message received","webhookId":"3bd97528-0fbb-4351-ba5e-5804ae3e2bef"}],"connections":{"Ollama Chat Model":{"ai_languageModel":[[{"node":"Question Answering Chain","type":"ai_languageModel","index":0}]]},"Qdrant Vector Store":{"ai_vectorStore":[[{"node":"Vector Store Retriever","type":"ai_vectorStore","index":0}]]},"Vector Store Retriever":{"ai_retriever":[[{"node":"Question Answering Chain","type":"ai_retriever","index":0}]]},"Ollama Embeddings":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"When chat message received":{"main":[[{"node":"Question Answering Chain","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"672fde3d-2fea-425b-9612-daa273be906b","activeVersionId":null,"versionCounter":4,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-14T16:34:23.021Z","createdAt":"2026-04-14T16:34:23.021Z","role":"workflow:owner","workflowId":"lcSVfFtbdpTzcEh9","projectId":"QIhKzmruH08LVbsX","project":{"updatedAt":"2026-04-14T11:48:41.692Z","createdAt":"2026-04-14T09:08:32.422Z","id":"QIhKzmruH08LVbsX","name":"Рамис Назаров <nazarov.ramis66@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"6b44d551-c1e8-4d95-a141-3c33877749ea"}}]},{"updatedAt":"2026-04-14T17:03:38.775Z","createdAt":"2026-04-14T16:56:17.975Z","id":"W0IPJ5ICZbJWoejV","name":"Local RAG Ingest V2","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"manual-trigger","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"fileSelector":"/home/node/.n8n-files/sample_companies.csv","options":{}},"id":"read-file","name":"Read CSV","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[208,0]},{"parameters":{"options":{"headerRow":true}},"id":"extract-file","name":"Spreadsheet File","type":"n8n-nodes-base.spreadsheetFile","typeVersion":2,"position":[400,0]},{"parameters":{"jsCode":"return $input.all().map((item) => {\n  const row = item.json;\n  const bin = String(row['БИН'] ?? '').trim();\n  const name = String(row['Название'] ?? '').trim();\n  const city = String(row['Город'] ?? '').trim();\n  const activity = String(row['Вид деятельности'] ?? '').trim();\n  const status = String(row['Статус'] ?? '').trim();\n  const registrationDate = String(row['Дата регистрации'] ?? '').trim();\n\n  return {\n    json: {\n      pageContent: `БИН: ${bin}\\nНазвание: ${name}\\nГород: ${city}\\nВид деятельности: ${activity}\\nСтатус: ${status}\\nДата регистрации: ${registrationDate}`,\n      bin,\n      name,\n      city,\n      activity,\n      status,\n      registration_date: registrationDate\n    }\n  };\n});"},"id":"code","name":"Format Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[608,0]},{"parameters":{"options":{"pointers":"/pageContent","metadata":{"metadataValues":[{"name":"bin","value":"={{ $json.bin }}"},{"name":"name","value":"={{ $json.name }}"},{"name":"city","value":"={{ $json.city }}"},{"name":"activity","value":"={{ $json.activity }}"},{"name":"status","value":"={{ $json.status }}"},{"name":"registration_date","value":"={{ $json.registration_date }}"}]}}},"id":"default-data-loader","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[800,208]},{"parameters":{"mode":"insert","qdrantCollection":{"mode":"list","value":"kz_companies"},"options":{"contentPayloadKey":"pageContent","metadataPayloadKey":"metadata"}},"id":"qdrant","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1.1,"position":[1008,0],"credentials":{"qdrantApi":{"id":"pAgsxavxE7SUpUsV","name":"QdrantApi account"}}},{"parameters":{"model":"bge-m3:latest"},"id":"ollama-embeddings","name":"Ollama Embeddings","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[1072,256],"credentials":{"ollamaApi":{"id":"UzaVRkhjopgk8Rvh","name":"Ollama account"}}}],"connections":{"Manual Trigger":{"main":[[{"node":"Read CSV","type":"main","index":0}]]},"Read CSV":{"main":[[{"node":"Spreadsheet File","type":"main","index":0}]]},"Spreadsheet File":{"main":[[{"node":"Format Payload","type":"main","index":0}]]},"Format Payload":{"main":[[{"node":"Qdrant Vector Store","type":"main","index":0},{"node":"Default Data Loader","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store","type":"ai_document","index":0}]]},"Ollama Embeddings":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"808dbf00-051d-4561-bd65-d2d4b6feb42f","activeVersionId":null,"versionCounter":3,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-14T16:56:17.980Z","createdAt":"2026-04-14T16:56:17.980Z","role":"workflow:owner","workflowId":"W0IPJ5ICZbJWoejV","projectId":"QIhKzmruH08LVbsX","project":{"updatedAt":"2026-04-14T11:48:41.692Z","createdAt":"2026-04-14T09:08:32.422Z","id":"QIhKzmruH08LVbsX","name":"Рамис Назаров <nazarov.ramis66@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"6b44d551-c1e8-4d95-a141-3c33877749ea"}}]},{"updatedAt":"2026-04-14T18:04:07.000Z","createdAt":"2026-04-14T17:35:29.296Z","id":"zP1gQzdsIxPowsUl","name":"Local RAG Query V2","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"rag-query","responseMode":"lastNode","responseData":"firstEntryJson","options":{}},"id":"webhook-trigger","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0]},{"parameters":{"promptType":"define","text":"={{ $json.body.chatInput }}","options":{"systemPromptTemplate":"Ты помощник по поиску по базе юридических лиц Казахстана. Отвечай только на основе найденного контекста. Если в контексте нет точного ответа, прямо скажи, что данных недостаточно. Когда уместно, указывай БИН, название компании, город, статус и вид деятельности.\n----------------\nКонтекст: {context}"}},"id":"qa-chain","name":"Question Answering Chain","type":"@n8n/n8n-nodes-langchain.chainRetrievalQa","typeVersion":1.7,"position":[240,0]},{"parameters":{"model":"qwen3.5:4b","options":{"temperature":0.2}},"id":"ollama-model","name":"Ollama Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[240,220]},{"parameters":{"mode":"retrieve","qdrantCollection":{"mode":"list","value":"kz_companies"},"options":{"contentPayloadKey":"pageContent","metadataPayloadKey":"metadata"}},"id":"qdrant-retriever","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[480,220]},{"parameters":{"topK":5},"id":"vector-store-retriever","name":"Vector Store Retriever","type":"@n8n/n8n-nodes-langchain.retrieverVectorStore","typeVersion":1,"position":[720,220]},{"parameters":{"modelName":"bge-m3"},"id":"ollama-embeddings-2","name":"Ollama Embeddings","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[480,420]}],"connections":{"Webhook":{"main":[[{"node":"Question Answering Chain","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"Question Answering Chain","type":"ai_languageModel","index":0}]]},"Qdrant Vector Store":{"ai_vectorStore":[[{"node":"Vector Store Retriever","type":"ai_vectorStore","index":0}]]},"Vector Store Retriever":{"ai_retriever":[[{"node":"Question Answering Chain","type":"ai_retriever","index":0}]]},"Ollama Embeddings":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":null,"versionId":"f99f3d31-6174-42eb-8a4c-672b3bd68405","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-14T17:35:29.297Z","createdAt":"2026-04-14T17:35:29.297Z","role":"workflow:owner","workflowId":"zP1gQzdsIxPowsUl","projectId":"QIhKzmruH08LVbsX","project":{"updatedAt":"2026-04-14T11:48:41.692Z","createdAt":"2026-04-14T09:08:32.422Z","id":"QIhKzmruH08LVbsX","name":"Рамис Назаров <nazarov.ramis66@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"6b44d551-c1e8-4d95-a141-3c33877749ea"}}]},{"updatedAt":"2026-04-14T17:56:03.000Z","createdAt":"2026-04-14T17:37:19.288Z","id":"oY2osc1uqau21HFW","name":"Local RAG Query API V2","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"rag-query","responseMode":"lastNode","responseData":"firstEntryJson","options":{}},"id":"webhook-trigger","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0]},{"parameters":{"promptType":"define","text":"={{ $json.body.chatInput }}","options":{"systemPromptTemplate":"Ты помощник по поиску по базе юридических лиц Казахстана. Отвечай только на основе найденного контекста. Если в контексте нет точного ответа, прямо скажи, что данных недостаточно. Когда уместно, указывай БИН, название компании, город, статус и вид деятельности.\n----------------\nКонтекст: {context}"}},"id":"qa-chain","name":"Question Answering Chain","type":"@n8n/n8n-nodes-langchain.chainRetrievalQa","typeVersion":1.7,"position":[240,0]},{"parameters":{"model":"qwen3.5:4b","options":{"temperature":0.2}},"id":"ollama-model","name":"Ollama Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[240,220]},{"parameters":{"mode":"retrieve","qdrantCollection":{"mode":"list","value":"kz_companies"},"options":{"contentPayloadKey":"pageContent","metadataPayloadKey":"metadata"}},"id":"qdrant-retriever","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[480,220]},{"parameters":{"topK":5},"id":"vector-store-retriever","name":"Vector Store Retriever","type":"@n8n/n8n-nodes-langchain.retrieverVectorStore","typeVersion":1,"position":[720,220]},{"parameters":{"modelName":"bge-m3"},"id":"ollama-embeddings-2","name":"Ollama Embeddings","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[480,420]}],"connections":{"Webhook":{"main":[[{"node":"Question Answering Chain","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"Question Answering Chain","type":"ai_languageModel","index":0}]]},"Qdrant Vector Store":{"ai_vectorStore":[[{"node":"Vector Store Retriever","type":"ai_vectorStore","index":0}]]},"Vector Store Retriever":{"ai_retriever":[[{"node":"Question Answering Chain","type":"ai_retriever","index":0}]]},"Ollama Embeddings":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":null,"versionId":"cacf3868-66be-420f-aa13-55a1f9dddd25","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-14T17:37:19.290Z","createdAt":"2026-04-14T17:37:19.290Z","role":"workflow:owner","workflowId":"oY2osc1uqau21HFW","projectId":"QIhKzmruH08LVbsX","project":{"updatedAt":"2026-04-14T11:48:41.692Z","createdAt":"2026-04-14T09:08:32.422Z","id":"QIhKzmruH08LVbsX","name":"Рамис Назаров <nazarov.ramis66@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"6b44d551-c1e8-4d95-a141-3c33877749ea"}}]},{"updatedAt":"2026-04-14T18:04:11.000Z","createdAt":"2026-04-14T17:39:07.429Z","id":"pC4OZipYhaTxKIcx","name":"Local RAG Query API V3","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"rag-query","responseMode":"lastNode","responseData":"firstEntryJson","options":{}},"id":"webhook-trigger","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0]},{"parameters":{"promptType":"define","text":"={{ $json.body.chatInput }}","options":{"systemPromptTemplate":"Ты помощник по поиску по базе юридических лиц Казахстана. Отвечай только на основе найденного контекста. Если в контексте нет точного ответа, прямо скажи, что данных недостаточно. Когда уместно, указывай БИН, название компании, город, статус и вид деятельности.\n----------------\nКонтекст: {context}"}},"id":"qa-chain","name":"Question Answering Chain","type":"@n8n/n8n-nodes-langchain.chainRetrievalQa","typeVersion":1.7,"position":[240,0]},{"parameters":{"model":"qwen3.5:4b","options":{"temperature":0.2}},"id":"ollama-model","name":"Ollama Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[240,220]},{"parameters":{"mode":"retrieve","qdrantCollection":{"mode":"list","value":"kz_companies"},"options":{"contentPayloadKey":"pageContent","metadataPayloadKey":"metadata"}},"id":"qdrant-retriever","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[480,220]},{"parameters":{"topK":5},"id":"vector-store-retriever","name":"Vector Store Retriever","type":"@n8n/n8n-nodes-langchain.retrieverVectorStore","typeVersion":1,"position":[720,220]},{"parameters":{"modelName":"bge-m3"},"id":"ollama-embeddings-2","name":"Ollama Embeddings","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[480,420]}],"connections":{"Webhook":{"main":[[{"node":"Question Answering Chain","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"Question Answering Chain","type":"ai_languageModel","index":0}]]},"Qdrant Vector Store":{"ai_vectorStore":[[{"node":"Vector Store Retriever","type":"ai_vectorStore","index":0}]]},"Vector Store Retriever":{"ai_retriever":[[{"node":"Question Answering Chain","type":"ai_retriever","index":0}]]},"Ollama Embeddings":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":null,"versionId":"2c6a14d5-e5a7-47bb-8cf3-7f12a0416998","activeVersionId":null,"versionCounter":3,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-14T17:39:07.431Z","createdAt":"2026-04-14T17:39:07.431Z","role":"workflow:owner","workflowId":"pC4OZipYhaTxKIcx","projectId":"QIhKzmruH08LVbsX","project":{"updatedAt":"2026-04-14T11:48:41.692Z","createdAt":"2026-04-14T09:08:32.422Z","id":"QIhKzmruH08LVbsX","name":"Рамис Назаров <nazarov.ramis66@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"6b44d551-c1e8-4d95-a141-3c33877749ea"}}]},{"updatedAt":"2026-04-14T18:05:00.388Z","createdAt":"2026-04-14T18:03:41.892Z","id":"smmyci5THABIb4ES","name":"Local RAG Query V2","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"public":true,"options":{}},"id":"chat-trigger","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[0,0],"webhookId":"62eb0006-34f6-4d09-987e-edf71ca0b255"},{"parameters":{"options":{"systemPromptTemplate":"Ты работаешь только на основе переданного контекста.\nОтветь кратко и по делу.\nЕсли данных недостаточно — скажи об этом.\nНе придумывай информацию.\n\nКонтекст:\n{context}\n\nВопрос:\n{input}"}},"id":"qa-chain","name":"Question Answering Chain","type":"@n8n/n8n-nodes-langchain.chainRetrievalQa","typeVersion":1.7,"position":[240,0]},{"parameters":{"model":"qwen3.5:4b","options":{"temperature":0.2}},"id":"ollama-model","name":"Ollama Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[240,224],"credentials":{"ollamaApi":{"id":"UzaVRkhjopgk8Rvh","name":"Ollama account"}}},{"parameters":{"qdrantCollection":{"mode":"list","value":"kz_companies"},"options":{"contentPayloadKey":"pageContent","metadataPayloadKey":"metadata"}},"id":"qdrant-retriever","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[480,224],"credentials":{"qdrantApi":{"id":"pAgsxavxE7SUpUsV","name":"QdrantApi account"}}},{"parameters":{"topK":5},"id":"vector-store-retriever","name":"Vector Store Retriever","type":"@n8n/n8n-nodes-langchain.retrieverVectorStore","typeVersion":1,"position":[720,224]},{"parameters":{"model":"bge-m3:latest"},"id":"ollama-embeddings-2","name":"Ollama Embeddings","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[480,432],"credentials":{"ollamaApi":{"id":"UzaVRkhjopgk8Rvh","name":"Ollama account"}}}],"connections":{"When chat message received":{"main":[[{"node":"Question Answering Chain","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"Question Answering Chain","type":"ai_languageModel","index":0}]]},"Qdrant Vector Store":{"ai_vectorStore":[[{"node":"Vector Store Retriever","type":"ai_vectorStore","index":0}]]},"Vector Store Retriever":{"ai_retriever":[[{"node":"Question Answering Chain","type":"ai_retriever","index":0}]]},"Ollama Embeddings":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"73315d09-0504-4f35-a9d3-cf669b58c566","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-14T18:03:41.893Z","createdAt":"2026-04-14T18:03:41.893Z","role":"workflow:owner","workflowId":"smmyci5THABIb4ES","projectId":"QIhKzmruH08LVbsX","project":{"updatedAt":"2026-04-14T11:48:41.692Z","createdAt":"2026-04-14T09:08:32.422Z","id":"QIhKzmruH08LVbsX","name":"Рамис Назаров <nazarov.ramis66@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"6b44d551-c1e8-4d95-a141-3c33877749ea"}}]},{"updatedAt":"2026-04-14T18:04:43.193Z","createdAt":"2026-04-14T18:04:43.193Z","id":"hcgqRhQzn4Nc9CrU","name":"Local RAG Query V2","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"options":{},"public":true},"id":"chat-trigger","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[0,0],"webhookId":"62eb0006-34f6-4d09-987e-edf71ca0b255"},{"parameters":{"query":"={{ $json.chatInput }}","options":{"systemPromptTemplate":"Ты работаешь только на основе переданного контекста.\nОтветь кратко и по делу.\nЕсли данных недостаточно — скажи об этом.\nНе придумывай информацию.\n\nКонтекст:\n{context}\n\nВопрос:\n{input}"}},"id":"qa-chain","name":"Question Answering Chain","type":"@n8n/n8n-nodes-langchain.chainRetrievalQa","typeVersion":1.7,"position":[240,0]},{"parameters":{"model":"qwen3.5:4b","options":{"temperature":0.2}},"id":"ollama-model","name":"Ollama Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[240,220]},{"parameters":{"qdrantCollection":{"mode":"list","value":"kz_companies"},"options":{"contentPayloadKey":"pageContent","metadataPayloadKey":"metadata"}},"id":"qdrant-retriever","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[480,220]},{"parameters":{"topK":5},"id":"vector-store-retriever","name":"Vector Store Retriever","type":"@n8n/n8n-nodes-langchain.retrieverVectorStore","typeVersion":1,"position":[720,220]},{"parameters":{"modelName":"bge-m3"},"id":"ollama-embeddings-2","name":"Ollama Embeddings","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[480,420]}],"connections":{"When chat message received":{"main":[[{"node":"Question Answering Chain","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"Question Answering Chain","type":"ai_languageModel","index":0}]]},"Qdrant Vector Store":{"ai_vectorStore":[[{"node":"Vector Store Retriever","type":"ai_vectorStore","index":0}]]},"Vector Store Retriever":{"ai_retriever":[[{"node":"Question Answering Chain","type":"ai_retriever","index":0}]]},"Ollama Embeddings":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]}},"settings":{},"staticData":null,"meta":null,"pinData":null,"versionId":"6b436b4f-f7c8-4d7d-9a02-fcf6f7cfeb1c","activeVersionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-14T18:04:43.195Z","createdAt":"2026-04-14T18:04:43.195Z","role":"workflow:owner","workflowId":"hcgqRhQzn4Nc9CrU","projectId":"QIhKzmruH08LVbsX","project":{"updatedAt":"2026-04-14T11:48:41.692Z","createdAt":"2026-04-14T09:08:32.422Z","id":"QIhKzmruH08LVbsX","name":"Рамис Назаров <nazarov.ramis66@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"6b44d551-c1e8-4d95-a141-3c33877749ea"}}]}]