n8n/_nQ.json
[{"updatedAt":"2026-04-14T17:59:51.000Z","createdAt":"2026-04-14T11:48:33.128Z","id":"nQjnLUKAEuy82DSP","name":"Local RAG Query V2","description":null,"active":true,"isArchived":true,"nodes":[{"parameters":{"options":{}},"id":"chat-trigger","name":"On chat message","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1,"position":[0,0],"webhookId":"62eb0006-34f6-4d09-987e-edf71ca0b255"},{"parameters":{"query":"={{ $json.chatInput }}","options":{"systemPromptTemplate":"Ты — ассистент для поиска по базе юридических лиц Казахстана.\n\nОтвечай только на основе переданного контекста.\nНе используй внешние знания и не придумывай информацию.\nЕсли данных в контексте недостаточно, ответь: \"Недостаточно данных в найденных записях\".\nЕсли найдено несколько подходящих компаний, перечисли их списком.\nОтвечай кратко, точно и по делу.\n\nКонтекст:\n{context}\n\nВопрос пользователя:\n{input}"}},"id":"qa-chain","name":"Question Answering Chain","type":"@n8n/n8n-nodes-langchain.chainRetrievalQa","typeVersion":1,"position":[208,0]},{"parameters":{"model":"qwen3.5:4b","options":{"temperature":0.2}},"id":"ollama-model","name":"Ollama Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[96,192],"credentials":{"ollamaApi":{"id":"UzaVRkhjopgk8Rvh","name":"Ollama account"}}},{"parameters":{"qdrantCollection":{"__rl":true,"value":"kz_companies","mode":"list","cachedResultName":"kz_companies"},"options":{"contentPayloadKey":"pageContent","metadataPayloadKey":"metadata"}},"id":"qdrant-retriever","name":"Qdrant Vector Store","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[240,336],"credentials":{"qdrantApi":{"id":"pAgsxavxE7SUpUsV","name":"QdrantApi account"}}},{"parameters":{"model":"bge-m3:latest"},"id":"ollama-embeddings-2","name":"Ollama Embeddings","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[112,512],"credentials":{"ollamaApi":{"id":"UzaVRkhjopgk8Rvh","name":"Ollama account"}}},{"parameters":{"topK":5},"type":"@n8n/n8n-nodes-langchain.retrieverVectorStore","typeVersion":1,"position":[240,176],"id":"28958f3c-d83e-4f14-9c9e-f5cedb0ce86f","name":"Vector Store Retriever"}],"connections":{"On chat message":{"main":[[{"node":"Question Answering Chain","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"Question Answering Chain","type":"ai_languageModel","index":0}]]},"Qdrant Vector Store":{"ai_retriever":[[]],"ai_vectorStore":[[{"node":"Vector Store Retriever","type":"ai_vectorStore","index":0}]]},"Ollama Embeddings":{"ai_embedding":[[{"node":"Qdrant Vector Store","type":"ai_embedding","index":0}]]},"Vector Store Retriever":{"ai_retriever":[[{"node":"Question Answering Chain","type":"ai_retriever","index":0}]]},"Question Answering Chain":{"main":[[]]}},"settings":{},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"730630f9-dd55-49b2-ac29-7146955a9140","activeVersionId":"730630f9-dd55-49b2-ac29-7146955a9140","versionCounter":21,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-14T11:48:33.130Z","createdAt":"2026-04-14T11:48:33.130Z","role":"workflow:owner","workflowId":"nQjnLUKAEuy82DSP","projectId":"QIhKzmruH08LVbsX","project":{"updatedAt":"2026-04-14T11:48:41.692Z","createdAt":"2026-04-14T09:08:32.422Z","id":"QIhKzmruH08LVbsX","name":"Рамис Назаров <nazarov.ramis66@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"6b44d551-c1e8-4d95-a141-3c33877749ea"}}]}]