n8n/ingest_workflow_v2.json
{
  "name": "Local RAG Ingest V2",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/sample_companies.csv"
      },
      "id": "read-file",
      "name": "Read CSV",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [200, 0]
    },
    {
      "parameters": {
        "options": {
          "headerRow": true
        }
      },
      "id": "extract-file",
      "name": "Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [400, 0]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map((item) => {\n  const row = item.json;\n  const bin = String(row['БИН'] ?? '').trim();\n  const name = String(row['Название'] ?? '').trim();\n  const city = String(row['Город'] ?? '').trim();\n  const activity = String(row['Вид деятельности'] ?? '').trim();\n  const status = String(row['Статус'] ?? '').trim();\n  const registrationDate = String(row['Дата регистрации'] ?? '').trim();\n\n  return {\n    json: {\n      pageContent: `БИН: ${bin}\\nНазвание: ${name}\\nГород: ${city}\\nВид деятельности: ${activity}\\nСтатус: ${status}\\nДата регистрации: ${registrationDate}`,\n      bin,\n      name,\n      city,\n      activity,\n      status,\n      registration_date: registrationDate\n    }\n  };\n});"
      },
      "id": "code",
      "name": "Format Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, 0]
    },
    {
      "parameters": {
        "dataType": "json",
        "jsonMode": "allInputData",
        "textSplittingMode": "simple",
        "options": {
          "pointers": "/pageContent",
          "metadata": {
            "metadataValues": [
              {
                "name": "bin",
                "value": "={{ $json.bin }}"
              },
              {
                "name": "name",
                "value": "={{ $json.name }}"
              },
              {
                "name": "city",
                "value": "={{ $json.city }}"
              },
              {
                "name": "activity",
                "value": "={{ $json.activity }}"
              },
              {
                "name": "status",
                "value": "={{ $json.status }}"
              },
              {
                "name": "registration_date",
                "value": "={{ $json.registration_date }}"
              }
            ]
          }
        }
      },
      "id": "default-data-loader",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [800, 200]
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "mode": "list",
          "value": "kz_companies"
        },
        "embeddingBatchSize": 200,
        "options": {
          "contentPayloadKey": "pageContent",
          "metadataPayloadKey": "metadata"
        }
      },
      "id": "qdrant",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [1000, 0]
    },
    {
      "parameters": {
        "modelName": "bge-m3"
      },
      "id": "ollama-embeddings",
      "name": "Ollama Embeddings",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [1000, 220]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read CSV": {
      "main": [
        [
          {
            "node": "Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File": {
      "main": [
        [
          {
            "node": "Format Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Payload": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          },
          {
            "node": "Default Data Loader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "ingest-v2"
}
