n8n/query_workflow.json
{
  "name": "Local RAG Query",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-query",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "query-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        300
      ],
      "webhookId": "local-rag-query"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://app:8000/query",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"question\": \"={{ $json.body.question || $json.question }}\",\n  \"top_k\": 5\n}",
        "options": {}
      },
      "id": "http-query",
      "name": "POST /query",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        780,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "POST /query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /query": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "query-v1"
}
